body {
    background-color: #228864;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    max-width: 800px;
    margin: 0 150px;
}

.cabecalho {
    padding: 20px 0;
    border-bottom: 2px solid rgb(255,255,255,0.4);
}

.cabecalho .container {
    display: flex;
    align-items: center;
}

.cabecalho figure img{
    width: 100%;
    max-width: 140px;
}

.cabecalho .cabecalho_logoPicPro {
    border-right: 1px solid #fff;
    padding-right: 10px;
    
}

.cabecalho .cabecalho_logoKenzie {
    padding-left: 25px;
}

.container_perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secaoDetalhesConta {
    color: #fff;
    padding: 60px 0 30px;
}

.secaoDetalhesConta_sobreUsuario {
    display: flex;
    align-items: center;
}

.secaoDetalhesConta_sobreUsuario p{
    font-size: 18px;
    margin-left: 10px;
}

.secaoDetalhesConta_sobreUsuario img{
    width: 100%;
    max-width: 50px;
}

.secaoDetalhesConta_sobreUsuario p strong{
    display: block;
    font-weight: bold;
}

.secaoDetalhesConta_social {
    display: flex;
    align-items: center;
}

.secaoDetalhesConta_social figure img{
    width: 100%;
    max-width: 40px;
}

.secaoDetalhesConta_social-presente {
    margin-right: 50px;
}

.secaoDetalhesConta_sobreSaldo {
    border-top: 2px solid #1F6F54;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    margin-top: 20px;
}

.secaoDetalhesConta_sobreSaldo-ver{
    display: flex;
    align-items: center;
}

.secaoDetalhesConta_sobreSaldo p{
    font-size: 18px;
    line-height: 25px;
}

.secaoDetalhesConta_sobreSaldo p strong {
    display: inline-block;
    font-weight: bold;
}

.secaoDetalhesConta_sobreSaldo img{
    margin-left: 10px;
    width: 100%;
    max-width: 30px;
}

.secaoDetalhesConta_sobreSaldo button {
    background-color: #fff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 60px;
    border-radius: 10px;
    cursor: pointer;
}

.secaoDetalhesConta_opcoesTransacoes {
    display: flex;
    justify-content: space-between;
}

.secaoDetalhesConta_opcoesTransacoes li{
    background-color: #1F6F54;
    width: 170px;
    height: 177px;
    border-radius: 10px;
    padding: 35px 20px;
    cursor: pointer;
}

.secaoDetalhesConta_opcoesTransacoes li p{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    line-height: 25px;
    max-width: 90px;
}

.secaoTransacao{
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    border-bottom: 15px solid #f0f0f0;
    padding: 30px 0;
    min-height: 480px;
}

.secaoTransacao .container div{
    display: none;
}

.secaoTransacao .container div.mostrar{
    display: block;
}

.secaoTransacao_avisoSelecao p{
    font-size: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 30px 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.secaoTransacao_avisoSelecao img{
    width: 100%;
    margin: 30px 0 90px;
}

.secaoTransacao_qrCode {
    text-align: center;
}

.secaoTransacao_qrCode img{
    max-width: 180px;
}

.secaoTransacao_qrCode p{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px 0;
}

.secaoTransacao_qrCode button{
    background-color: #228864;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin: 50px 0 20px;
    padding: 15px 150px;
    cursor: pointer;
}

.secaoTransacao_qrCode a{
    display: block;
    color: #000;
    font-weight: bold;
}

.secaoTransacao_pix img{
    width: 100%;
    max-width: 150px;
}

.secaoTransacao_boxOpcao {
    display: flex;
    align-items: center;
    border: 1px solid #d2d2d2;
    max-width: 500px;
    padding: 14px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
}

.secaoTransacao_boxOpcao img {
    width: 100%;
    max-width: 80px;
    margin-right: 10px;
}

.secaoTransacao_boxOpcao p {
    font-size: 16px;
    line-height: 20px;
}

.secaoTransacao_boleto img {
    width: 100%;
    max-width: 80px;
}
  
.secaoTransacao_boleto h2 {
    font-size: 20px;
    font-weight: 600;
}

.secaoTransacao_boleto p {
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
}
  
.secaoTransacao_boleto input {
    width: 100%;
    background-color: #f4f4f4;
    font-size: 16px;
    height: 50px;
    padding: 0 80px;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    color: #000;
    box-sizing: border-box;
}

.secaoTransacao_cobrar img {
    width: 100%;
    max-width: 80px;
}
  
.secaoTransacao_cobrar h2 {
    font-size: 20px;
    font-weight: bold;
}
  
.secaoTransacao_cobrar p {
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
}
  
.secaoTransacao_cobrar .secaoTransacao_boxOpcao p {
    margin-left: 10px;
}

.secaoTransacao_cobrar .secaoTransacao_boxOpcao p strong{
    display: block;
    font-weight: bold;
    padding: 5px 0;
}
  
.rodape {
    background-color: #fff;
}
  
.rodape_menuPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.rodape_menuPrincipal li {
    text-align: center;
}
  
.rodape_menuPrincipal li a {
    color: #000;
    text-decoration: none;
}
.rodape_menuPrincipal li a img {
    width: 100%;
    max-width: 40px;
}
  .rodape_menuPrincipal li a p {
    margin-top: 20px;
}
  
.rodape_menuItem-pagar {
    transform: translateY(-35px);
}
  
.rodape_menuPrincipal .rodape_menuItem-pagar a img {
    max-width: 80px;
}

.secaoDetalhesConta_itemTransacao-qrCode:hover {
    background-color: #fff;
    color: #228664;

}

.secaoDetalhesConta_itemTransacao-pix:hover {
    background-color: #fff;
    color: #228664;
}

.secaoDetalhesConta_itemTransacao-boleto:hover {
    background-color: #fff;
    color: #228664;
}

.secaoDetalhesConta_itemTransacao-cobrar:hover {
    background-color: #fff;
    color: #228664;
}

.secaoDetalhesConta_opcoesTransacoes figure {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 50px;
    width: 50px;
}
  
.secaoDetalhesConta_itemTransacao-qrCode figure {
    background-image: url("../img/qrcode.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 40px;
    width: 40px;
}

.secaoDetalhesConta_itemTransacao-pix figure {
    background-image: url("../img/pix.png");
    height: 40px;
    width: 40px;
}

.secaoDetalhesConta_itemTransacao-boleto figure {
    background-image: url("../img/codigo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 30px;
    width: 40px;
    
}
.secaoDetalhesConta_itemTransacao-cobrar figure {
    background-image: url("../img/cobrar-icon.png");
    background-size: cover;
    display: block;
    height: 33px;
    width: 40px;
}

.secaoDetalhesConta_itemTransacao-qrCode:hover figure {
    background-image: url("../img/qrcode-verde.png");
}

.secaoDetalhesConta_itemTransacao-pix:hover figure {
    background-image: url("../img/pix-verde.png");
}

.secaoDetalhesConta_itemTransacao-boleto:hover figure {
    background-image: url("../img/boleto-verde.png");
}
.secaoDetalhesConta_itemTransacao-cobrar:hover figure {
    background-image: url("../img/cobrar-verde.png");
}
  
.secaoDetalhesConta_opcoesTransacoes figure img {
    width: 100%;
    max-width: 25px;
    height: 20px;
    opacity: 0;
}
